@use 'variables';
@use 'library';
@use 'playlist-view';
@use 'artist-details';


/* --- Variáveis e Estilos Globais --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

// Variáveis de Cor


// Reset de Botão
button {
    border: none;
    background: transparent;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: none;
    color: inherit;
}

body {
    background-color: variables.$backgroundColor;
    color: variables.$textColor;
}


/* --- Estrutura Principal / Layout --- */
// Estes são para o layout geral e podem permanecer como estão.
nav {
    width: 100vw;
    height: 64px;
    background-color: variables.$primaryColor;
    padding: 8px;
    display: flex;
}

.container {
    width: 100vw;
}

.interface {
    display: flex;
    gap: 1rem;
    padding: .5rem;
}

.player {
    width: 100vw;
    flex: 1;
    height: 11vh;
    background-color: variables.$primaryColor;
}


/* --- Bloco: Library (Sua Biblioteca) --- */



/* --- Bloco: Playlist View (Conteúdo Principal) --- */



/* --- Bloco: Artist Details (Informações do Artista) --- */
