@use 'variables';
@use 'nav';
@use 'library';
@use 'playlist-view';
@use 'artist-details';
@use 'player';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
::-webkit-scrollbar-track {
    background: transparent; /* Cor de fundo da trilha da scrollbar */
}
::-webkit-scrollbar-thumb {
    background-color: #535353; /* Cor da barra da scrollbar (a parte que você arrasta) */
}
::-webkit-scrollbar {
    width: 12px; /* Largura da scrollbar vertical */
}
::-webkit-scrollbar-thumb:hover {
    background-color: #727272; /* Cor da barra ao passar o mouse */
}

button {
    border: none;
    background: transparent;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: none;
    color: inherit;
}

body {
    background-color: variables.$backgroundColor;
    color: variables.$textColor;
}
nav {
    width: 100vw;
    height: 64px;
    background-color: variables.$primaryColor;
    padding: 8px;
    display: flex;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.container {
    width: 100vw;
}

.interface {
    display: flex;
    gap: .5rem;
    padding: .5rem;
    background-color: #000;
}
