@use 'biblioteca';
@use 'select';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

button {
    border: none;
    background: transparent;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: none;
}

$backgroundColor: #EEE;
$primaryColor: #000;
$secondaryColor: #121212;

body {
    background-color: $backgroundColor;
}

nav {
    width: 100vw;
    height: 64px;
    background-color: $primaryColor;
    padding: 8px;
    display: flex;
}

.container {
    margin: 0;
    padding: 0;
    width: 100vw;
}

.select__music {
    display: flex;
    gap: 1rem;
    padding: .5rem;

    .playlists,
    .info {
        width: 23%;
    }

    .principal {
        flex: 1;
    }
}